<div class="modal fade" id="cart-modal" tabindex="-1" role="dialog" aria-labelledby="CartLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-responsive" id="cart-table"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Continue shopping</button>
                <form action="/Orders/SubmitOrder" method="post">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-success checkout-cart">Checkout</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
        let cart = @Html.Raw(Session["cart"] != null ? Json.Encode((List<object>)Session["cart"]) : "[]");
</script>

<script src="~/Scripts/cart.js" type="text/javascript" defer></script>
