@using Patisserie.Models;
@model List<Category>

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron align-items-center">

    <div class="row">
        <section class="col-12 col-md-6">
            <h1 class="text-center">Noalek Patisserie</h1>
            <video autoplay loop muted playsinline style="width: 100%">
                <source src="~/Media/Video/Sugar.mp4" type="video/mp4">
            </video>
        </section>
        <aside class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img style="width: 100%" src="~/Media/Images/noalek.jpg" alt="Noalek" />
                    </div>
                    <div class="flip-card-back align-items-center">
                        <h3 class="mt-5 mb-5">Welcome to Noalek Patisserie🍰</h3>
                        <p>Here you will find delicious homemade cakes, cookies & more...</p>
                        <p>So... what are you waiting for?</p>
                        <p>Order something sweet!</p>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>

<div class="container">
    <section>
        <header>
            <h2 class="text-center"><a href="/Categories">Categories</a></h2>
            <hr class="accessory" />
        </header>
        <div class="row justify-content-around">
            @foreach (var category in Model)
            {
                @Html.Partial("_CategoryCard", category)
            }
        </div>
    </section>
    <section>
        <header>
            <h2 class="mt-3 text-center"><a href="/Products">Top Products</a></h2>
            <hr class="accessory" />
        </header>
        <div class="row justify-content-around">
            @foreach (Product product in ViewBag.TopProducts)
            {
                @Html.Partial("_ProductCard", product)
            }
        </div>
    </section>
</div>

@if (Patisserie.Controllers.Utl.IsAdmin(Session))
{
    @Html.Partial("_DeleteModal", null, new ViewDataDictionary { { "title", "name" }, { "category", "Categories" } })
}

<script type="text/javascript">
        $(function () {
            $(".add-item-btn").click(function (event) {
                event.preventDefault();
                event.stopPropagation();

                $id = $(this).data("id");
                $name = $(this).data("name");
                $description = $(this).data("description");
                $price = $(this).data("price");
                $image = $(this).data("image");

                addOneProduct($id, $name, $description, $price, $image);
            });
        });
</script>